.carousel-inner {
  height: 480px;
}

.carousel-item {
  height: 100%;

  > div {
    height: 100%;
    background-size: cover;
    background-position: center center;
    filter: brightness(0.8);
  }
}

.carousel-caption {
  bottom: 35%;
  > h1 {
    border-style: groove;
    padding: 1rem;
  }
  > h1,
  h2 {
    text-shadow: black 0.1em 0.1em 0.02em;
  }
}

.card-img {
  transition: all 0.3s;
}

.card-img-overlay {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.card-hover:hover {
  .card-img {
    transform: scale(0.95);
    box-shadow: black 1px 1px 5px;
    border-radius: 5px
  }
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgba(theme-color("primary"), 0.9);
}

.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  transition: all 0.4s;
}

.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  background: theme-color("accent");
  color: rgba(theme-color("primary"), 0.9);
}
