//carousel
.carousel-inner {
  height: 300px;
  @include media-breakpoint-up(md) {
    height: 680px;
  }
}

.carousel-item {
  height: 100%;

  > div {
    height: 100%;
    background-size: cover;
    background-position: center center;
    filter: brightness(0.8);
  }
}

.carousel-caption {
  transform: translateY(50%);
  bottom: 50%;

  > h1 {
    border-style: groove;
    padding: 1rem;
    font-size: 1rem;
  }

  > h1,
  h2 {
    text-shadow: black 0.1em 0.1em 0.02em;
  }

  @include media-breakpoint-up(md) {
    > h1 {
      font-size: 2.5rem;
    }
  }
}

//navbar
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(theme-color("primary"), 0.9);
}

.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  transition: all 0.4s;
}

.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  background: theme-color("accent");
  color: rgba(theme-color("primary"), 0.9);
}

//dropdown
.dropdown-menu {
  background-color: $primary;
}

.dropdown-menu::before {
  left: 50%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 20px 50px;
  border-color: transparent transparent $primary transparent;
  position: absolute;
  top: -20px;
  transform: translateX(-50%);
}

.dropdown-item {
  color: white;
  
  &:hover,
  &:focus {
    color: theme-color("accent");
    background-color: $primary;
  }
}
