.item-card {
  h3 {
    margin: 0;
  }
  display: flex;
  flex-direction: column;

  .img-wrapper {
    overflow: hidden;
  }

  .item-img {
    height: 315px;
    background-size: cover;
    background-position: center center;
    position: relative;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .item-tag {
    position: absolute;
    left: 20px;
    top: 1px;
    background-color: $primary;
    writing-mode: vertical-lr;
    padding: 15px 10px;
    color: white;
    letter-spacing: 5px;
  }

  .item-border {
    border: 1px solid $primary-200;
  }

  .item-title,
  .item-price,
  .origin-price {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $font-size-lg;
    flex-grow: 2;
    text-align: center;
  }

  .item-price {
    color: theme-color('accent');
    font-weight: bold;
  }

  .origin-price {
    font-size: $font-size-sm;
    color: gray;
    text-decoration: line-through;
  }

  .item-stared-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
