// background
.bg-md-primary {
  @include media-breakpoint-up(md) {
    background: theme-color("primary") !important;
  }
}

.bg-sm-light {
  @include media-breakpoint-down(sm) {
    background: theme-color("light") !important;
  }
}

//text
.text-md-down-primary {
  @include media-breakpoint-down(sm) {
    color: theme-color("primary") !important;
  }
}

// .align-items-lg-center {
//   @include media-breakpoint-up(sm) {
//     align-items: center;
//   }
// }

.object-fit-contain{
  object-fit: contain;
  // object-position: center center;
}